<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6>
      <ion-button  (click)="historial()">Historial</ion-button>
    </ion-col>
    </ion-row>

  
  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl">
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Subir Foto</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>
  <form>
    <div class="form-group input-group">
        <input type="text" id="search_location" class="form-control" placeholder="Search location">
        <div class="input-group-btn">
            <button class="btn btn-default get_map" type="submit">
                Locate
            </button>
        </div>
    </div>
    </form>
  <div #mapa id="mapa">
    <map></map>
</div>

</ion-content>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed"> 
    <ion-fab-button (click)="addFind()">
      <ion-icon name="heart-dislike-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed"> 
    <ion-fab-button  (click)="volver()" >
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
