<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row>
  <ion-col col-6>
   
    <ion-list>
      <ion-item *ngFor="let find of perdidos" (click)="openNote(note)">
        <ion-item *ngFor ="let file of images">
        <ion-label>
        
       
  {{file.data}}
   

  
          <br>
          Nombre: {{ find.nameM }}
          <br>
          Color : {{ find.color }}
          <br>
          Dirección:  {{ find.direccion }}
          <br>
          
        </ion-label>
      </ion-item>
      </ion-item>
    </ion-list>
  </ion-col>
  </ion-row>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed"> 
  <ion-fab-button  (click)="volver()" >
    <ion-icon name="arrow-undo-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
