<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row>
  <ion-col col-6>
   
    <ion-list>
      <ion-item *ngFor="let find of perdidos" (click)="openNote(note)">

        <ion-label>
        
       
  <h3 *ngIf ="images.lenght == 0" class="ion-padding ion-text-center"> selecciona imagen</h3>
  <ion-list>
    <ion-item *ngFor ="let file of images">
      <ion-thumbnail>
        <ion-img [src] ="file.data"></ion-img>
      </ion-thumbnail>
  <ion-label class ="ion-text-wrap">
  {{file.name}}
  </ion-label>
    </ion-item>
  </ion-list>
   
          <br>
          Nombre: {{ find.nameM }}
          <br>
          Color : {{ find.color }}
          <br>
          Dirección:  {{ find.direccion }}
          <br>
          
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
  </ion-row>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed"> 
  <ion-fab-button  (click)="volver()" >
    <ion-icon name="arrow-undo-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
